.no-sidebar .entry-content .alignfull {
    margin-left: calc(-100vw/2 + 100%/2);
    margin-right: calc(-100vw/2 + 100%/2);
    max-width: 100vw;
    width: auto;
}

.taxonomy-description p:last-child, .read-more-container, .page-content>:last-child, .entry-content>:last-child, .entry-summary>:last-child {
    margin-bottom: 0;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

.wp-block-columns {
    display: flex;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}

user agent stylesheet div {
    display: block;
}

.site-content, .entry-header {
    word-wrap: break-word;
}

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #000000;
    color: #3a3a3a;
}

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5;
}

:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    /* word-break: break-word;
    overflow-wrap: break-word; */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}

user agent stylesheet div {
    display: block;
}

.site-content, .entry-header {
    word-wrap: break-word;
}

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #000000;
    color: #3a3a3a;
}

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5;
}

.site-content, .entry-header {
    word-wrap: break-word;
}

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #000000;
    color: #3a3a3a;
}

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5;
}

:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}

element.style {
    flex-basis: 60%;
}

@media (min-width: 782px) {
    .wp-block-column:not(:first-child) {
        margin-left: 32px;
    }
}

@media (min-width: 782px) {
    .wp-block-column[style*=flex-basis] {
        flex-grow: 0;
    }
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }
}



@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

.wp-block-columns {
    display: flex;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

@media (min-width: 782px) {
    .wp-block-column flex-basis: 0;
    flex-grow: 1;
}



element.style {
    background-image: url(http://biznes.cumulus.atthouse.pl/wp-content/uploads/2020/09/foto_gospodarkam.jpg);
}

.wp-block-cover, .wp-block-cover-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 430px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.wp-block-cover-image:after, .wp-block-cover:after {
    display: block;
    content: "";
    font-size: 0;
    min-height: inherit;
}

/* .has-text-align-center {
    text-align: center;
} */

.editor-styles-wrapper .has-large-font-size, .has-large-font-size {
    font-size: 36px;
}

p {
    margin-bottom: 1.5em;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}

.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 70px);
    z-index: 1;
    color: #fff;
}

.wp-block-columns .wp-block-column :hover {
    flex: 6;
    transition: flex 3s ease;
    opacity: 0.7;
}

.has-text-align-center.has-large-font-size {
    transform: rotate(90deg);
    bottom: 10%;
}

.wp-block-columns.wp-block-column:hover.has-text-align-center.has-large-font-size {
    transform: rotate(00deg);
    bottom: 10%;
    text-align:center;
}

/* .wp-block-columns.wp-block-column{
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color .8s ease;
} */
.wp-block-cover, .wp-block-cover-image {
    justify-content: left;
    align-items: inherit;
}